*{
  margin: 0px;
}
body{
    background: url('https://w0.peakpx.com/wallpaper/380/718/HD-wallpaper-pawan-kalyan-nature-janasena-pavan-pavan-kalyan-pawan-kalyan-pspk.jpg');
     background-attachment: fixed;
    background-size: cover;
    



}
.h{
    background:linear-gradient(pink,white,pink) ;
    padding: 10px;
    border: 2px solid black;
    font-weight: bold;
    text-align: center;
    border-radius: 13px; 
    
    
}
.alig{
    display: inline-flex;
}
.alig img{
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

nav{
  
    padding: 5px;
    border:2px solid ;
    margin-top: 15px;  
    background: rgba(0, 0, 0, 0.5);
    margin-top :30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;

    
    
}
nav a{
    font-size: 18px;
    color: white;
    background-color:black;
    font-weight: bold ;
    padding: 3px;
    text-align: center;
    margin-inline-start: 180px;
    text-decoration: none;
    border:1px solid white;

}

nav a:hover{
    background-color:red;
    color: white;
    opacity:0.8;
    box-shadow: 1px 2px 2px white;
}

/* we need to set up events ,persons detatils,images,videos... and @media..*/

.c{
    margin-top: 30px;
    position: relative; 
    box-shadow: 4px 5px 10px black;
}
/*
.c h4{
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
    width:fit-content;
    margin-left: 50%;

   
}*/
.vd video{
    width: 100%; 
    height:100wh; 
    opacity:.5;

}
.vtext{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    text-align: center;
    top:50%;
    width:100%;
    height:300px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
   
   
}

.iv{
    margin-top: 30px;
    box-shadow: 4px 5px 10px black;
    /*border:2px solid  red ;*/
  
}

/*
.iv h4{
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
    width:fit-content;
    margin-left: 50%;
}*/

.iv .pics{
    width:100%;
    background: rgba(61, 61, 61, 0.5);
    display: flex;
    flex-wrap: wrap;

}
.iv .pics img{
    margin:4px;
}
.iv .videos{
    margin-top: 10px;
    width: 100%;
    background-color: rgb(228, 159, 159);
    display: flex;
    flex-wrap: wrap;
       
}
.iv .videos video{
    margin:4px;
}

.details{
    margin-top: 30px;
   /* border:2px solid  red ;*/

    display: flex;
    /*flex-flow: row wrap;*/
    flex-wrap: wrap;  
    box-shadow: 4px 5px 10px black;
     
}
hr{
    height: 2px; 
}
.details .person{
    background-color: aqua;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 4px 4px 5px gray;
    width:200px;
    height:80px;
    text-align: center;
    /*margin: 20px;*/
    margin:2px;
    
}
.person:hover{
    box-shadow: 4px 4px 5px black;
    background:linear-gradient(red,white,white,red);
}
.person a{
   
    text-decoration: none;
}
.person .alig h3{
   margin-top: 15px;
   margin-left: 5px;
}

footer{
    background-color: grey;
    margin-top:30px;
    padding: 10px;
    /*border:2px solid  red ;*/
    color: white;
    font-weight: bolder;
}

footer a{
    text-decoration: none;
    color:whitesmoke;

}


footer p{
    margin:5px;
}
.foot{
    
    margin-left: 50%;
}

.foot img{
    height:50px;
    width:50px;
    
}

 

@media screen and (max-width:990px){
    
    nav{ 
        margin-top :10px;   
    }
    nav a{
        font-size: 10px;
        width: 100%;
        margin:3px;
       
    }
    nav ul{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .vtext{
        
        top:50%;
        width:100%;
        height:100px;
        font-size: 10px;
       
       
    }
    .iv .pics img{
        margin:20px;
    }

    .iv .videos video{
        margin:15px;
    }
    .details .person{
   margin:15px;
    }
    
}

  
@media (max-aspect-ratio: 16/9) {
    .vd {
        width: 100vw; 
        height:auto;
        margin-left: 50vw;
      transform: translate(-50%);
    }
  }

   






